@import ../../sass/global

.collections
  margin: 0
  margin-bottom: 3rem

  &_h3
    @extend %h3-amiri

    margin-top: 0

  &_description
    @extend %body-sourceSans-1

    margin-top: 0

.collectionList
  &_h4
    @extend %h4-amiri

    margin: 0

  &_description
    @extend %body-sourceSans-1

  &_imgLink
    @extend %a

  &_img
    padding: 0
    margin: 0

    @extend %imageLinkTransition

    &:hover
      @extend %imageLinkHover

  &_buttonLink
    @extend %a
