@import ../Global/extras

.productLink
  width: 100%

  &_title
    font-size: 0.9rem
    font-weight: 600

  &_price
    font-size: 0.9rem
    font-style: italic

.productLinkPhoto
  cursor: pointer
  backface-visibility: hidden
  box-shadow: 4px 4px 16px -8px $black

  +transition(0.25s transform, 0.25s filter)

  &:hover
    transform: scale(1.05)
    filter: brightness(0.6)
