@import ~@njmyers/sass/material/button
@import ../../sass/global

.defaultButton
  @extend %button-yellow

  width: 100%

  &:hover
    background-color: lighten($button-yellow, 6)

.greyButton
  @extend %button-grey

  width: 100%
