@import ~@njmyers/sass/mixins

.confirmation
  section
    margin-top: 2rem

  section:first-child
    margin-top: 0

  &_grid
    +flexbox
    justify-content: flex-start
    flex-wrap: wrap

    section
      width: 50%
      margin: 0

      +all-phone
        width: 100%
        margin: inherit
