@import ../../sass/global.sass

.desktopHeader
  width: 100%
  position: fixed
  top: 0
  left: 0
  background: transparentize($black, 0.2)
  z-index: 2

  @extend %niceShadow

.navDesktop
  margin: 0 auto
  padding: 0 $content-padding
  max-width: $content-max-width
  display: flex
  justify-content: space-between
  align-items: center

  &_link,
  &_linkCart
    @extend %body-sourceSans-1

    margin: 0

    @extend %navLink

    color: white

    &:hover
      @extend %navHighlight

    &-active
      @extend %navHighlight

  &_link:first-child
    margin-left: 0

  &_linkCart
    padding: 0.52rem 1rem

  &_logo
    width: 40px

.mainHeaderMobile
  background: transparentize($black, 0.2)
  width: 100%
  height: 48px
  position: fixed
  top: 0
  left: 0
  z-index: 2
  overflow: hidden

  &_container
    align-items: center
    justify-content: space-between
    width: 100%
    max-width: $content-max-width
    height: 100%

    +flex

    margin: 0 auto
    padding: 0 $mobile-content-padding

  &_hamburger
    width: 20px
    height: 20px
    cursor: pointer

  .cartIcon
    margin-top: 1px
    color: $white

    &_itemText
      margin-top: 1px

.navMobile
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &_link
    @extend %navLink

    @extend %body-sourceSans-1

    margin: 0
    color: $white
    margin: 1rem
    padding: 1rem 0.4rem

    &:hover
      @extend %navHighlight

    &-active
      @extend %navHighlight
