@import ../../sass/global

.collections
  margin: 0
  margin-bottom: 2rem

.collectionList
  margin-top: 2rem
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 3rem

  +all-phone
    grid-template-columns: repeat(1, 1fr)
