@import ../../sass/global

.collections
  margin: 0
  margin-bottom: 3rem

  &_h3
    @extend %h3-amiri

    margin-top: 0

  &_description
    @extend %body-sourceSans-1

    margin-top: 0

.collectionList
  column-count: 2
  column-gap: 3rem

  +desktop
    column-gap: 4rem


  +all-phone
    column-count: 1
    column-gap: 0


  .collectionExcerpt
    break-inside: avoid
    page-break-inside: avoid
    margin-bottom: 3rem

    +all-phone
      margin-bottom: 2rem
