@import ../../sass/global

.postExcerpt
  background: #f0ebe6

  &_image
    &:hover
      transform: none

  &_titleLink
    @extend %link-reset

  &_content
    padding: 1.5rem

    @extend %markdown-sourceSans

  &_title
    margin-top: 0 !important
