@import ../../sass/extras

.productList
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 3rem

  +tablet
    grid-template-columns: repeat(2, 1fr)
    grid-gap: 4rem


  +all-phone
    grid-template-columns: repeat(1, 1fr)

.productListItem
  width: 100%
  display: grid

  &_img
    cursor: pointer

    @extend %imageLinkTransition

  &_img:hover
    @extend %imageLinkHover

  &_textLink
    @extend %a

  &_h5
    @extend %h5-amiri

    margin-top: 1rem

  &_textLine
    display: flex
    justify-content: space-between
    margin-top: 0.5rem
    margin-bottom: 1.5rem

    @extend %body-sourceSans-2
