@import ../../sass/global

.contact
  &_h3
    @extend %h3-amiri

    margin-bottom: -0.5rem

.contactForm
  @extend %form

+form-item("contactFormField")

.contactFormField
  &_textArea
    @extend .contactFormField_input

    resize: vertical

.contactFormSubmit
  &_input
    @extend %button-yellow

    @extend %button_text-sourceSans

    @extend %ripple-grey

    margin: 1.5rem 0
    padding: 0.5rem 1rem

.message
  display: block
