@import ../../sass/extras

.header
  &_imgContainer
    height: 500px
    width: 100%
    overflow: hidden

    +all-phone
      height: 220px

  &_img
    transform: translateY(-25%)

    +all-phone
      transform: translateY(-20%)
