@import '../../../sass/extras'

.menu
	+flexbox
	width: 100%
	align-items: center
	justify-content: space-between
	&__item
		margin: 0
		+transition(background 0.35s, color 0.35s)
		box-sizing: border-box
		+flexbox
		align-items: center
		justify-content: center
		color: $white
		text-decoration: none
		border-radius: 7px
		cursor: pointer
		font-size: 1.5em
		padding: 5px 10px
		&:hover
			background: $white
			color: $black