@import ../sass/global

.singleCollection
  margin-bottom: 3rem

  &_headerText
    
    color: $white

    h2
      @extend %h3-amiri

    p 
      @extend %body-sourceSans-1
      font-weight: 500

  &_h2
    @extend %h2-amiri

  &_description
    margin: 0

    @extend %body-sourceSans-1


