@import ../../sass/global.sass

.footer
  width: 100%
  background: transparentize($black, 0.1)
  color: $white

  +flexbox

  flex-direction: column

  &_widgets
    display: grid
    grid-template-columns: repeat(2, 1fr)

    +all-phone
      grid-template-columns: repeat(1, 1fr)

.emailSignup
  width: 100%

  &_label
    margin: 0

    @extend %subtitle-amiri-1

  &_input
    width: 100%
    margin-bottom: 1rem
    padding: 0.5rem

    @extend %body-sourceSans-2

    &:focus
      outline: none

.footerNavDesktop
  width: 100%
  display: flex
  justify-content: flex-start

  &_link
    text-decoration: none
    padding: 1rem
    color: $white
