@import ../../sass/global.sass

%navLink
  text-decoration: none
  padding: 1rem
  transition: 0.25s border
  border-bottom: 2px solid $clear

%navHighlight
  border-bottom: 2px solid $white

.mainNavDesktop
  position: fixed
  top: 0
  left: 0
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  background: transparentize($black, 0.2)
  z-index: 2

  @extend %niceShadow

  &_link,
  &_linkCart
    @extend %body-sourceSans-1

    margin: 0

    @extend %navLink

    color: white

    &:hover
      @extend %navHighlight

    &-active
      @extend %navHighlight

  &_linkCart
    padding: 0.5rem 1rem

  &_logo
    width: 40px

.mainHeaderMobile
  background: transparentize($black, 0.2)
  width: 100%
  height: 40px
  position: fixed
  top: 0
  left: 0
  z-index: 2
  overflow: hidden
  display: flex
  align-items: center
  justify-content: flex-start

  &_hamburger
    width: 20px
    height: 20px
    cursor: pointer

.mainNavMobile
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  &_link
    @extend %navLink

    @extend %body-sourceSans-1

    margin: 0
    color: $white
    margin: 1rem
    padding: 1rem 0.4rem

    &:hover
      @extend %navHighlight

    &-active
      @extend %navHighlight
